#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
#navbar .container {
  display: flex;
  justify-content: space-between;
}
.navbar-brand img {
  height: 43px;
}
.navbar-collapse {
  text-align: center;
}
.dropdown-menu {
  text-align: center;
  background-color: #f8f9fa;
}
.cart {
  width: fit-content;
  display: flex;
  text-decoration: none;
  position: relative;
}
.cart svg {
  font-size: 30px;
}
.cart div {
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 22px;
  top: -3px;
}
.search-input {
  width: 144px !important;
}
.search-btn {
  border: none !important;
  font-size: 24px;
  display: flex;
  padding-left: 0;
  padding-right: 0;
}
.navbar-nav {
  margin-left: 0 !important;
}
#basic-navbar-nav {
  flex-grow: 0;
}
@media screen and (max-width: 450px) {
  #navbar-btn {
    flex-grow: 1;
    border: none !important;
    box-shadow: none !important;
  }
}
